@model Brilliance.Models.ViewModel.OrganisationListModel
@using Brilliance.Infrastructure
@{
    ViewBag.Title = "OrganisationList";
    Layout = "~/Views/Shared/_Layout_public.cshtml";
}
<link href="~/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
<div class="page-content page-content-dashbrd-backgrnd">
    <div class="page-bar margin-bottom-10">
        <div class="row">
            <div class="col-md-12 padding-out">
                <div class="portlet light padding-header margin-0 custom-padding-bar">
                    <div class="portlet-title portlet-title-Project-custom">
                        <div class="caption font-dark">
                            @*<i class="icon-settings font-dark"></i>*@
                            <span class="caption-subject bold">Organisation Administration</span>
                        </div>
                        @*<div class="caption font-dark pull-right">
                            <a class="btn btn-circle btn-icon-only btn-default" title="Add Organization" href="/Organization/Organization">
                                <i class="fa fa-plus"></i>
                            </a>
                        </div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 custom-decrease-padding">
            <!-- BEGIN EXAMPLE TABLE PORTLET-->
            <div class="portlet light bordered portlet-custom-decrease-padding">
                <div class="portlet-body">
                    <table class="table table-bordered table-hover dt-responsive" width="100%" id="dt_client">
                        <thead>
                            <tr>
                                @*<th class="all">#</th>*@
                                <th class="all">Organisation</th>
                                <th class="desktop">Company</th>
                                <th class="desktop">Division</th>
                                <th class="desktop">CRT</th>
                                <th class="desktop">CIS</th>
                                <th class="all">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null && Model.Organisationlist!=null && Model.Organisationlist.Count > 0)
                            {
                                int index = 0;
                                foreach (var item in Model.Organisationlist)
                                {
                                    index++;
                                    <tr>
                                        <td>
                                            @item.OrganizationName
                                        </td>
                                        @*<td width="10%">
                                                <a class="action" href="/Organization/Organization/@item.EncryptedClientID">@item.OrganizationName</a>
                                            </td>*@
                                        <td>
                                            <a href="/AdmCompany/Company/@item.EncryptedClientID" title="Add company">
                                                <i class="fa fa-plus"></i>
                                            </a>
                                            <a href="/AdmCompany/Company/@item.EncryptedClientID" title="Edit company">
                                                <i class="btn-xs fa fa-pencil padding0"></i>
                                            </a>
                                        </td>
                                        <td>
                                            @if (item.IsCompanyExist == true)
                                            {
                                                <a href="/AdmDivision/Division?clientid=@item.EncryptedClientID" title="Add division">
                                                    <i class="fa fa-plus"></i>
                                                </a>
                                                <a href="/AdmDivision/Division/@item.EncryptedClientID" title="Edit division">
                                                    <i class="btn-xs fa fa-pencil padding0"></i>
                                                </a>
                                            }

                                        </td>
                                        <td width="20%" style="background-color:white !important;">3</td>
                                        <td width="20%" style="background-color:white !important;">3</td>
                                        <td width="10%">
                                            <a class="action btn  btn-primary btn-xs @Constants.Class_Cannot_Access_Update" href="/ClientSetup/Client/@item.EncryptedClientID" title="Edit"><i class="btn-xs fa fa-pencil padding0"></i></a>
                                            <a class="action btn  btn-danger btn-xs @Constants.Class_Cannot_Access_Remove" href="javascript:void(0);" title="Delete" onclick="fnOpenDeleteModel('DeleteButton','DeleteModal','@item.EncryptedClientID.ToString()');"><i class="btn-xs fa fa-trash-o padding0"></i></a>
                                        </td>
                                    </tr>
                                }
                            }
                            @*<tr>
                                    <td style="background-color:white !important;">@Model.allcount.countorganisation</td>
                                    <td style="background-color:white !important;">14</td>
                                    <td style="background-color:white !important;">19</td>
                                    <td style="background-color:white !important;">7</td>
                                    <td style="background-color:white !important;">25</td>
                                </tr>*@
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade modal-scroll" id="DeleteModal" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Delete</h4>
            </div>
            <div class="modal-body"> Are you sure want delete ? </div>
            <div class="modal-footer">
                <button type="button" class="btn dark btn-outline" data-dismiss="modal">Close</button>
                <button type="button" class="btn green" id="DeleteButton" onclick="DeleteAnyEntity('/Organization/DeleteClient', 'DeleteButton', 'DeleteModal', 'Organizationsaved','dt_client','/Organization/OrganizationList');">Yes</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
@section scripts {
    <script src="~/assets/global/scripts/datatable.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
    <script>
        $(document).ready(function () {
            ShowPageLoadMessage("Organizationsaved", "Organization");
            ShowPageLoadMessage("divisionsaved", "Division");
            //ShowPageLoadMessage("companysaved", "Company");

        });
        var table = $('#dt_client').DataTable({});
    </script>

}
