@using Brilliance.Infrastructure
@model Brilliance.Models.ViewModel.ClientSetupViewModel
@{
    ViewBag.Title = "Client";
    Layout = "~/Views/Shared/_Layout_public.cshtml";
}
<link href="~/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet" />
<link href="~/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.css" rel="stylesheet" />
<link href="~/assets/pages/css/profile.min.css" rel="stylesheet" />
<style>
    .floatClass {
        float: left;
        margin-bottom: 10px;
    }

    .capright {
        float: right;
        display: inline-block;
        font-size: 18px;
        line-height: 18px;
        padding: 5px 0;
    }

    .col-md-6 {
        margin-top: -10px;
    }
</style>
<div class="page-content page-content-dashbrd-backgrnd">
    <div class="row">
        <div class="col-md-12">
            <div class="page-bar margin-bottom-10">
                <div class="row">
                    <div class="col-md-12 padding-out">
                        <div class="portlet light padding-header margin-0 custom-padding-bar">
                            <div class="portlet-title portlet-title-Project-custom">
                                <div class="caption font-dark">
                                    <i class="icon-settings font-dark"></i>
                                    <span class="caption-subject bold uppercase">Client set up</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-left:-25px;margin-right:-25px;margin-top:-5px;">
                <div class="col-lg-12">
                    <div class="portlet light">
                        <div class="portlet-body form">
                            @*<form action="/ClientSetup/SaveClient" id="frmClient" data-ajax-success="SaveClientResponse(data);" data-ajax="true" data-ajax-method="Post" method="post">*@
                            <form action="/ClientSetup/SaveClient" id="frmClient" method="post" enctype="multipart/form-data">
                                @Html.HiddenFor(m => m.client.ClientID)
                                @Html.HiddenFor(m => m.client.Logo)
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Name of organisation</label>
                                            @Html.TextBoxFor(m => m.client.OrganizationName, new { @class = "form-control m-input" })
                                            @Html.ValidationMessageFor(m => m.client.OrganizationName)
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Industry</label>
                                            @Html.TextBoxFor(m => m.client.Industry, new { @class = "form-control m-input" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Contact person Name</label>
                                            @Html.TextBoxFor(m => m.client.ContactPersonName, new { @class = "form-control m-input" })
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Contact person surname</label>
                                            @Html.TextBoxFor(m => m.client.ContactPersonSurName, new { @class = "form-control m-input" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Telephone number</label>
                                            @Html.TextBoxFor(m => m.client.TelephoneNo, new { @class = "form-control m-input" })
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Mobile number</label>
                                            @Html.TextBoxFor(m => m.client.MobileNo, new { @class = "form-control m-input" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Email address</label>
                                            @Html.TextBoxFor(m => m.client.ContactPersonEmail, new { @class = "form-control m-input email" })
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>VAT number</label>
                                            @Html.TextBoxFor(m => m.client.VATNo, new { @class = "form-control m-input" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Address line 1</label>
                                            @Html.TextBoxFor(m => m.client.AddressLine1, new { @class = "form-control m-input" })
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Address line 2</label>
                                            @Html.TextBoxFor(m => m.client.AddressLine2, new { @class = "form-control m-input" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Address line 3</label>
                                            @*@Html.TextAreaFor(m => m.client.AddressLine3, new { @class = "form-control m-input"})*@

                                            @Html.TextBoxFor(m => m.client.AddressLine3, new { @class = "form-control m-input" })
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>City</label>
                                            @Html.TextBoxFor(m => m.client.City, new { @class = "form-control m-input" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Postcode</label>
                                            @Html.TextBoxFor(m => m.client.Postcode, new { @class = "form-control m-input" })
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Country</label>
                                            @Html.DropDownListFor(m => m.client.Country, new SelectList(Model.Countrylist, "Value", "Text", 0), new { @data_live_search = "true", @class = "form-control bs-select" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Entity number</label>
                                            @Html.TextBoxFor(m => m.client.EntityNo, new { @class = "form-control m-input" })
                                            @Html.ValidationMessageFor(m => m.client.EntityNo)

                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>FSP number</label>
                                            @Html.TextBoxFor(m => m.client.FSPNo, new { @class = "form-control m-input" })

                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>URL details</label>
                                            @Html.TextBoxFor(m => m.client.URLDetails, new { @class = "form-control m-input" })
                                            @Html.ValidationMessageFor(m => m.client.URLDetails)

                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Upload Organisation logo</label>
                                        <div class="form-group">
                                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                                <div class="fileinput-new thumbnail" style="width: 150px; height: 100px;">
                                                    @*<img class="img-responsive img-profile" src="~/assets/pages/img/logos/logo5.jpg">*@
                                                    @if (Model != null && Model.client != null && !string.IsNullOrEmpty(Model.client.Logo) && File.Exists(HttpContext.Current.Server.MapPath(Constants.OrganisationlogoPath + Model.client.Logo)))
                                                    {
                                                        <img class="img-responsive img-profile" src="@string.Format(Constants.OrganisationlogoPath.Replace("~","") + Model.client.Logo)" class="">
                                                    }
                                                    else
                                                    {
                                                        <img class="img-responsive img-profile" src="/Areas/Setup/UploadImages/UserProfile/947253d1_0c59_4f20_85c5_57eb8713592c.png">
                                                    }
                                                </div>
                                                <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"> </div>
                                                <div>
                                                    <span class="btn default btn-file">
                                                        <span class="fileinput-new"> Select logo </span>
                                                        <span class="fileinput-exists"> Change </span>
                                                        <input type="file" name="orglogo" id="orglogo" accept="image/*">
                                                    </span>
                                                    <a href="javascript:;" class="btn default fileinput-exists" data-dismiss="fileinput"> Remove </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label>Brilliance site pull through</label>
                                        <div class="mt-radio-list">
                                            <label class="mt-radio mt-radio-outline">
                                                @Html.RadioButtonFor(m => m.client.Sitepullthrough, "Standard", new { @checked = "checked" })
                                                Standard –  Brilliance public site menu bar and footer
                                                <span></span>
                                            </label>
                                            <label class="mt-radio mt-radio-outline">
                                                @Html.RadioButtonFor(m => m.client.Sitepullthrough, "Footer")
                                                Footer only
                                                <span></span>
                                            </label>
                                            <label class="mt-radio mt-radio-outline">
                                                @Html.RadioButtonFor(m => m.client.Sitepullthrough, "Neither")
                                                Neither menu bar nor footer
                                                <span></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <label>Skin colours</label>
                                        <div class="mt-radio-inline">
                                            <label class="mt-radio mt-radio-outline margin-bottom0" style="font-size:13px;">
                                                @Html.RadioButtonFor(m => m.client.Skincolours, "Brilliance", new { @checked = "checked", @class = "brilli" })
                                                Brilliance
                                                <span></span>
                                            </label>
                                            <label class="mt-radio mt-radio-outline margin-bottom0" style="font-size:13px;">
                                                @Html.RadioButtonFor(m => m.client.Skincolours, "Custom", new { @class = "custom" })
                                                Custom
                                                <span></span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="customcolors hide">
                                        <div class="col-md-8">
                                            <label></label>
                                            <div class="row">
                                                <div class="form-group">
                                                    <label class="col-md-3 control-label">Buttons 1: RGB</label>
                                                    <div class="col-md-3">
                                                        @Html.TextBoxFor(m => m.client.buttonsclr, new { @class = "form-control m-input" })
                                                    </div>
                                                    <label class="col-md-3 control-label">Heads: RGB</label>
                                                    <div class="col-md-3">
                                                        @Html.TextBoxFor(m => m.client.headsclr, new { @class = "form-control m-input" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group">
                                                    @*<label class="col-md-3 control-label">Buttons 2: RGB</label>
                                                        <div class="col-md-3">
                                                            <input type="text" class="form-control" placeholder="Enter text" style="margin-left: -60px;">
                                                            @Html.TextBoxFor(m => m.client.buttonsclr, new { @class = "form-control m-input" })
                                                        </div>*@
                                                    <label class="col-md-3 control-label">Subheads: RGB</label>
                                                    <div class="col-md-3">
                                                        @Html.TextBoxFor(m => m.client.subheadsclr, new { @class = "form-control m-input" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-4">
                                        <label>Brilliance apps subscribed to</label>
                                        <div class="row">
                                            <div class="form-group" style="margin-left: 15px;">
                                               
                                                <input type="checkbox" id="client_IsCrtSubscribe" name="client_IsCrtSubscribe" style="margin-left: 15px;" />
                                                CRT
                                                <input type="checkbox" id="client_IsCISSubscribe" name="client_IsCISSubscribe" style="margin-left: 15px;" checked="" />
                                                CIS
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-actions">
                                    <div class="col-lg-12  text-right">
                                        <button type="button" onclick="location.href = '/Organization/OrganizationList'" class="btn default">Cancel</button>
                                        @*<button type="button" onclick="ClientFormSubmit();" class="btn btn-primary btnSubmit">Save</button>*@
                                        <button type="submit" class="btn btn-primary btnSubmit">Save</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





@section scripts{
    <script src="~/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.js"></script>
    <script src="~/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <script>

        $(document).ready(function () {
            if ($('input[type=radio][class=custom]').is(':checked') == true) {
                $(".customcolors").removeClass('hide');
            }
            else {
                $(".customcolors").addClass('hide');
                $("#client_buttonsclr").val('');
                $("#client_headsclr").val('');
                $("#client_subheadsclr").val('');
            }
        })




        //function Addinstance() {
        //        var postData = {

        //        }
        //        ShowLoader();
        //        AjaxCall("/ClientSetup/GetInstanceDetail", JSON.stringify(postData), "post", "json", "application/json", false).done(function (data) {
        //            HideLoader();
        //             $("#CrtIstance").html(data);
        //               $("#instance_popup").modal('show');
        //               $('.date-picker').datepicker({
        //                format: 'dd/mm/yyyy',
        //                autoclose: true,
        //                orientation: "bottom",
        //                todayHighlight: true,
        //                //startDate: new_date.format("DD/MM/YYYY")
        //          })
        //        });
        //    }

        //function showdiv() {
        //    $(".customcolors").removeClass('hide');
        //}
        $('input[type=radio][class=custom]').change(function () {
            $(".customcolors").removeClass('hide');
        });
        $('input[type=radio][class=brilli]').change(function () {
            $(".customcolors").addClass('hide');
            $("#client_buttonsclr").val('');
            $("#client_headsclr").val('');
            $("#client_subheadsclr").val('');
        });

    </script>
}   