@model Brilliance.Models.ViewModel.DropselectModel
@using Brilliance.Infrastructure
@{
    int index = 0;
}
<div class="modal-dialog modal-lg">
    <div class="modal-content" style="width: 1213px;margin-left: -125px;">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h4 class="modal-title">Drop select values for this organisation</h4><br />
            @*<label>categpry:sssdsd</label>*@
        </div>

        @*<form id="form_instance" action="/AdmCrt/SaveDropselectconfig" method="post" data-ajax="true" data-ajax-method="Post" data-ajax-success="SaveLabelResponse(data);">*@
        <form action="/AdmCrt/SaveDropselectconfig" id="form_instance" method="post">
            <div class="modal-body">
                <div id="companyrows">
                    <div class="row">
                        @Html.HiddenFor(m => m.dropselectconfig.ProjectTermID)
                        @Html.HiddenFor(m => m.dropselectconfig.ClientID)
                        @Html.HiddenFor(m => m.dropselectconfig.ProjecttermCategoryID)
                        @Html.HiddenFor(m => m.dropselectconfig.ProjecttermCategoryName)
                        @if (Model != null && Model.dropselectconfig != null && Model.dropselectconfig.ProjecttermCategoryName == "PRODUCT TYPE")
                        {
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Product category</label>
                                    @Html.DropDownListFor(m => m.dropselectconfig.RefTermID, new SelectList(Model.ProductcategoryList, "Value", "Text", 0), "--Select Product Category--", new { @data_live_search = "true", @class = "form-control bs-select" })

                                </div>
                            </div>
                        }
                        @if (Model != null && Model.dropselectconfig != null && Model.dropselectconfig.ProjecttermCategoryName == "NATURE OF COMPLAINT")
                        {
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Complaint category</label>
                                    @Html.DropDownListFor(m => m.dropselectconfig.RefTermID, new SelectList(Model.ComplaintcategoryList, "Value", "Text", 0), "--Select Complaint Category--", new { @data_live_search = "true", @class = "form-control bs-select" })
                                </div>
                            </div>
                        }
                        @if (Model != null && Model.dropselectconfig != null && Model.dropselectconfig.ProjecttermCategoryName == "TCF OUTCOME")
                        {
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Complaint type</label>
                                    @Html.DropDownListFor(m => m.dropselectconfig.RefTermID, new SelectList(Model.ComplaintcategoryList, "Value", "Text", 0), "--Select Complaint type--", new { @data_live_search = "true", @class = "form-control bs-select" })
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Customer's reason for complaint</label>
                                    @Html.DropDownListFor(m => m.dropselectconfig.RefTermID1, new SelectList(Model.NatureList, "Value", "Text", 0), "--Select Customer's reason--", new { @data_live_search = "true", @class = "form-control bs-select" })
                                </div>
                            </div>
                        }

                        <div class="col-md-3">
                            <div class="form-group">
                                @if (Model != null && Model.dropselectconfig != null && Model.dropselectconfig.ProjecttermCategoryName == "TCF OUTCOME")
                                {
                                    <label>Customer Experience Outcome</label>
                                }
                                else
                                {
                                    <label>Name</label>
                                }
                                @Html.TextBoxFor(m => m.dropselectconfig.Name, new { @class = "form-control m-input" })
                                @*@Html.ValidationMessageFor(m => m.company.CompanyName)*@
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Description</label>
                                @Html.TextBoxFor(m => m.dropselectconfig.Desc, new { @class = "form-control m-input" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12" style="text-align:right;">
                        <div class="form-group">
                            <button type="button" class="btn default" onclick="clearform('form_instance');">Clear</button>
                            <button type="button" id="btnsavecompany" class="btn default" onclick="DropselectFormSubmit(this);">Save</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 custom-decrease-padding">
                        <!-- BEGIN EXAMPLE TABLE PORTLET-->
                        <div class="portlet light bordered portlet-custom-decrease-padding">
                            <div class="portlet-body">
                                <table class="table table-bordered table-hover dt-responsive" width="100%" id="dt_droptable">
                                    <thead>
                                        <tr>
                                            <th class="all">#</th>
                                            @if (Model != null && Model.dropselectconfig != null && Model.dropselectconfig.ProjecttermCategoryName == "PRODUCT TYPE")
                                            {
                                                <th class="all">Product category</th>
                                            }
                                            @if (Model != null && Model.dropselectconfig != null && Model.dropselectconfig.ProjecttermCategoryName == "NATURE OF COMPLAINT")
                                            {
                                                <th class="all">Complaint category</th>
                                            }
                                            @if (Model != null && Model.dropselectconfig != null && Model.dropselectconfig.ProjecttermCategoryName == "TCF OUTCOME")
                                            {
                                                <th class="all">Complaint type</th>
                                                <th class="all">Customer's reason</th>
                                            }
                                            @if (Model != null && Model.dropselectconfig != null && Model.dropselectconfig.ProjecttermCategoryName == "TCF OUTCOME")
                                            {
                                                <th class="all">Customer Experience Outcome</th>
                                            }
                                            else
                                            {
                                                <th class="all">Name</th>
                                            }
                                            @*<th class="desktop">Description</th>*@
                                            <th class="all">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbody_dropselect">

                                        @if (Model != null && Model.projecttermlist.Count > 0)
                                        {

                                            foreach (var item in Model.projecttermlist)
                                            {
                                                index++;
                                                <tr id="tr_@item.TermID">
                                                    <td width="1%">@index</td>
                                                    @if (Model != null && Model.dropselectconfig != null && Model.dropselectconfig.ProjecttermCategoryName == "PRODUCT TYPE")
                                                    {
                                                        <td>
                                                            <span class="Product_">@item.Refname</span>
                                                            <input type="hidden" class="refid_" value="@item.RefTermID" />
                                                        </td>
                                                    }
                                                    @if (Model != null && Model.dropselectconfig != null && Model.dropselectconfig.ProjecttermCategoryName == "NATURE OF COMPLAINT")
                                                    {
                                                        <td><span class="Category_">@item.Refname</span><input type="hidden" class="refid_" value="@item.RefTermID" /></td>

                                                    }
                                                    @if (Model != null && Model.dropselectconfig != null && Model.dropselectconfig.ProjecttermCategoryName == "TCF OUTCOME")
                                                    {
                                                        <td><span class="Type_">@item.Refname</span><input type="hidden" class="refid_" value="@item.RefTermID" /></td>
                                                        <td><span class="Nature_">@item.Refname1</span> <input type="hidden" class="refid1_" value="@item.RefTermID1" /></td>
                                                    }
                                                    <td style="background-color:white !important;">
                                                        <span class="Term_">@item.Term</span>
                                                        <input type="hidden" class="desc_" value="@item.AboutTerm" />
                                                    </td>
                                                    @*<td width="15%">@item.TermCode</td>*@
                                                    <td>
                                                        <a class="action btn  btn-primary btn-xs @Constants.Class_Cannot_Access_Update" onclick="DropselectEdit('@item.TermID','@Model.dropselectconfig.ProjecttermCategoryName');" title="Edit"><i class="btn-xs fa fa-pencil padding0"></i></a>
                                                        <a class="action btn  btn-danger btn-xs @Constants.Class_Cannot_Access_Remove" href="javascript:void(0);" title="Delete" onclick="Deletedropselect('@item.TermID');"><i class="btn-xs fa fa-trash-o padding0"></i></a>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn default" data-dismiss="modal">Cancel</button>
                @*<button id="btnSaveAreaTask" type="button" class="btn green" onclick="AddRowForAreaTasks(this);">Save</button>*@
            </div>
        </form>
    </div>
</div>
