@model Brilliance.Models.ViewModel.DropselectModel
@using Brilliance.Infrastructure
@{
    ViewBag.Title = "AddDropselectitem";
    Layout = "~/Views/Shared/_Layout_public.cshtml";
}
<link href="~/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
<style>
    .view-subtask {
        color: #fff;
        background-color: #c8d046 !important;
        border-color: #c8d046 !important;
    }
</style>
@*@if (Model.companyList != null && Model.companyList.Count > 0)
{
    index = Model.companyList.Count;

    @Html.Hidden("Index", index)
}
else
{
    @Html.Hidden("Index", index)
}*@

<div class="page-content page-content-dashbrd-backgrnd">
    <div class="row">
        <div class="col-md-12">
            <div class="page-bar margin-bottom-10">
                <div class="row">
                    <div class="col-md-12 padding-out">
                        <div class="portlet light padding-header margin-0 custom-padding-bar">
                            <div class="portlet-title portlet-title-Project-custom">
                                <div class="caption font-dark">
                                    @*<i class="icon-settings font-dark"></i>*@
                                    <span class="caption-subject bold">Client set up : Add Company</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-left:-25px;margin-right:-25px;margin-top:-5px;">
                <div class="col-lg-12">
                    <div class="portlet light">
                        <div class="portlet-body form">
                            <form id="frmcompany" action="/AdmCompany/SaveCompany" method="post" data-ajax="true" data-ajax-method="Post" data-ajax-success="SaveCompanyResponse(data);">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            @if (Model != null && Model.company != null && Model.company.OrganizationName != null)
                                            {
                                                <label>Organisation : @Model.company.OrganizationName</label>
                                            }
                                            else
                                            {
                                                <label>Organisation : </label>
                                            }
                                            @Html.HiddenFor(m => m.company.ClientID)
                                            @Html.HiddenFor(m => m.company.EncryptedClientID)

                                        </div>
                                    </div>

                                </div>
                                <div id="companyrows">
                                    <div class="row">
                                        @Html.HiddenFor(m => m.dropselectconfig.ProjectTermID)
                                        @Html.HiddenFor(m => m.dropselectconfig.ClientID)
                                        @Html.HiddenFor(m => m.dropselectconfig.ProjecttermCategoryID)
                                        @Html.HiddenFor(m => m.dropselectconfig.ProjecttermCategoryName)
                                        @if (Model != null && Model.dropselectconfig != null && Model.dropselectconfig.ProjecttermCategoryName == "PRODUCT TYPE")
                                        {
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>Product category</label>
                                                    @Html.DropDownListFor(m => m.dropselectconfig.RefTermID, new SelectList(Model.ProductcategoryList, "Value", "Text", 0), "--Select Product Category--", new { @data_live_search = "true", @class = "form-control bs-select" })

                                                </div>
                                            </div>
                                        }
                                        @if (Model != null && Model.dropselectconfig != null && Model.dropselectconfig.ProjecttermCategoryName == "NATURE OF COMPLAINT")
                                        {
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>Complaint category</label>
                                                    @Html.DropDownListFor(m => m.dropselectconfig.RefTermID, new SelectList(Model.ComplaintcategoryList, "Value", "Text", 0), "--Select Complaint Category--", new { @data_live_search = "true", @class = "form-control bs-select" })
                                                </div>
                                            </div>
                                        }
                                        @if (Model != null && Model.dropselectconfig != null && Model.dropselectconfig.ProjecttermCategoryName == "TCF OUTCOME")
                                        {
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>Complaint type</label>
                                                    @Html.DropDownListFor(m => m.dropselectconfig.RefTermID, new SelectList(Model.ComplaintcategoryList, "Value", "Text", 0), "--Select Complaint type--", new { @data_live_search = "true", @class = "form-control bs-select" })
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>Customer's reason for complaint</label>
                                                    @Html.DropDownListFor(m => m.dropselectconfig.RefTermID1, new SelectList(Model.NatureList, "Value", "Text", 0), "--Select Customer's reason--", new { @data_live_search = "true", @class = "form-control bs-select" })
                                                </div>
                                            </div>
                                        }

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                @if (Model != null && Model.dropselectconfig != null && Model.dropselectconfig.ProjecttermCategoryName == "TCF OUTCOME")
                                                {
                                                    <label>Customer Experience Outcome</label>
                                                }
                                                else
                                                {
                                                    <label>Name</label>
                                                }
                                                @Html.TextBoxFor(m => m.dropselectconfig.Name, new { @class = "form-control m-input" })
                                                @*@Html.ValidationMessageFor(m => m.company.CompanyName)*@
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Description</label>
                                                @Html.TextBoxFor(m => m.dropselectconfig.Desc, new { @class = "form-control m-input" })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12" style="text-align:right;">
                                        <div class="form-group">
                                            <button type="button" class="btn default" onclick="clearform('frmcompany');">Clear</button>
                                            <button type="button" id="btnsavecompany" class="btn default" onclick="AddRowForCompany(this);">Add Another Company</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="portlet-body">
                                    <table class="table table-bordered table-hover dt-responsive" width="100%" id="dt_droptable">
                                    <thead>
                                        <tr>
                                            <th class="all">#</th>
                                            @if (Model != null && Model.dropselectconfig != null && Model.dropselectconfig.ProjecttermCategoryName == "PRODUCT TYPE")
                                            {
                                                <th class="all">Product category</th>
                                            }
                                            @if (Model != null && Model.dropselectconfig != null && Model.dropselectconfig.ProjecttermCategoryName == "NATURE OF COMPLAINT")
                                            {
                                                <th class="all">Complaint category</th>
                                            }
                                            @if (Model != null && Model.dropselectconfig != null && Model.dropselectconfig.ProjecttermCategoryName == "TCF OUTCOME")
                                            {
                                                <th class="all">Complaint type</th>
                                                <th class="all">Customer's reason</th>
                                            }
                                            @if (Model != null && Model.dropselectconfig != null && Model.dropselectconfig.ProjecttermCategoryName == "TCF OUTCOME")
                                            {
                                                <th class="all">Customer Experience Outcome</th>
                                            }
                                            else
                                            {
                                                <th class="all">Name</th>
                                            }
                                            @*<th class="desktop">Description</th>*@
                                            <th class="all">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        @if (Model != null && Model.projecttermlist.Count > 0)
                                        {
                                            int index = 0;
                                            foreach (var item in Model.projecttermlist)
                                            {
                                                index++;
                                                <tr>
                                                    <td width="1%">@index</td>
                                                    @if (Model != null && Model.dropselectconfig != null && Model.dropselectconfig.ProjecttermCategoryName == "PRODUCT TYPE")
                                                    {
                                                        <td>@item.Term</td>
                                                    }
                                                    @if (Model != null && Model.dropselectconfig != null && Model.dropselectconfig.ProjecttermCategoryName == "NATURE OF COMPLAINT")
                                                    {
                                                        <td>@item.Term</td>
                                                    }
                                                    @if (Model != null && Model.dropselectconfig != null && Model.dropselectconfig.ProjecttermCategoryName == "TCF OUTCOME")
                                                    {
                                                        <td>@item.Term</td>
                                                        <td>@item.Term</td>
                                                    }
                                                    <td style="background-color:white !important;">@item.Term</td>
                                                    @*<td width="15%">@item.TermCode</td>*@
                                                    <td>
                                                        <a class="action btn  btn-primary btn-xs @Constants.Class_Cannot_Access_Update" href="/Division/Division/@item.TermID" title="Edit"><i class="btn-xs fa fa-pencil padding0"></i></a>
                                                        <a class="action btn  btn-danger btn-xs @Constants.Class_Cannot_Access_Remove" href="javascript:void(0);" title="Delete" onclick="fnOpenDeleteModel('DeleteButton','DeleteModal','@item.TermID.ToString()');"><i class="btn-xs fa fa-trash-o padding0"></i></a>
                                                    </td>
                                                </tr>
                                            }
                                        }

                                    </tbody>
                                    </table>
                                </div>

                                <div class="form-actions">
                                    <div class="col-lg-12  text-right">
                                        <button type="button" onclick="CompanyFormSubmit();" class="btn green uppercase">Save and close</button>
                                        <button type="button" onclick="location.href = '/OrganisationAdmin/OrganisationList'" class="btn default uppercase">Cancel</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade modal-scroll" id="DeleteModal" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Delete</h4>
            </div>
            <div class="modal-body"> You can not delete company.To delete company you have to delete all divisions under this company.</div>
            <div class="modal-footer">
                <button type="button" class="btn dark btn-outline" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
