@using Brilliance.Infrastructure
@model Brilliance.Models.ViewModel.CrtAdminViewmodel

@{
    ViewBag.Title = "CRTadmin";
    Layout = "~/Views/Shared/_Layout_public.cshtml";
}
<link href="~/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
<link href="~/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet" />
<link href="~/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.css" rel="stylesheet" />
<link href="~/assets/pages/css/profile.min.css" rel="stylesheet" />
<style>
    .floatClass {
        float: left;
        margin-bottom: 10px;
    }

    .capright {
        float: right;
        display: inline-block;
        font-size: 18px;
        line-height: 18px;
        padding: 5px 0;
    }

    .col-md-6 {
        margin-top: -10px;
    }
</style>
<div class="page-content page-content-dashbrd-backgrnd">
    <div class="row">
        <div class="col-md-12">
            <div class="page-bar margin-bottom-10">
                <div class="row">
                    <div class="col-md-12 padding-out">
                        <div class="portlet light padding-header margin-0 custom-padding-bar">
                            <div class="portlet-title portlet-title-Project-custom">
                                <div class="caption font-dark">
                                    <i class="icon-settings font-dark"></i>
                                    <span class="caption-subject bold uppercase">CRT Administration</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-left:-25px;margin-right:-25px;margin-top:-5px;">
                <div class="col-lg-12">
                    <div class="portlet light">
                        <div class="portlet-body form">
                            @*<form action="/ClientSetup/SaveClient" id="frmClient" data-ajax-success="SaveClientResponse(data);" data-ajax="true" data-ajax-method="Post" method="post">*@
                            <form id="frmcompany" action="/Company/SaveCompany" method="post" data-ajax="true" data-ajax-method="Post" data-ajax-success="SaveCompanyResponse(data);">
                                @*@Html.HiddenFor(m => m.client.ClientID)
                                    @Html.HiddenFor(m => m.client.Logo)*@
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>For this organisation</label>
                                            @Html.DropDownListFor(m => m.client.ClientID, new SelectList(Model.clientList, "Value", "Text", 0), "--Select Client--", new { @data_live_search = "true", @class = "form-control bs-select" })
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Configuration at Tier level</label>
                                            <select id="tierlevel" class="form-control bs-select" data_live_search="true">
                                                <option value="Organisation">Organisation</option>
                                                <option value="Company">Company</option>
                                                <option value="Division">Division</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label><b>Field label configuration</b></label>
                                            <button type="button" onclick="Addlabels();" class="btn">OPEN</button>
                                            <button type="button" onclick="showlabellist();" class="btn">Label List</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label><b>Drop select configuration</b></label>
                                            <button type="button" onclick="ShowDropselect();" class="btn">OPEN</button>
                                        </div>
                                    </div>
                                </div>
                                @if (Model != null && Model.labelconfiglist != null && Model.labelconfiglist.Count > 0)
                                {
                                    <div class="tab-content">
                                        <div class="row" id="Partialviewbind">
                                        </div>
                                    </div>
                                }
                                <div id="DropSelectsConfig">
                                    @*@if (Model != null)
                                        {
                                            @Html.Partial("~/Views/AdmCrt/_DropselectConfiguration.cshtml", Model)
                                        }*@
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Client Complaint Portal for this Organisation*</label>
                                        <div class="mt-radio-inline">
                                            <label class="mt-radio mt-radio-outline margin-bottom0" style="font-size:13px;">
                                                @Html.RadioButton("txt", "Yes", new { @class = "class1", @checked = "checked" })
                                                No
                                                <span></span>
                                            </label>
                                            <label class="mt-radio mt-radio-outline margin-bottom0" style="font-size:13px;">
                                                @Html.RadioButton("txt", "No", new { @class = "class2" })
                                                Yes
                                                <span></span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Show complaint number*</label>
                                            <div class="mt-radio-inline">
                                                <label class="mt-radio mt-radio-outline margin-bottom0" style="font-size:13px;">
                                                    @Html.RadioButton("txt", "Yes", new { @class = "class1", @checked = "checked" })
                                                    Only on Complaint Capture and Resolution forms
                                                    <span></span>
                                                </label>
                                                <label class="mt-radio mt-radio-outline margin-bottom0" style="font-size:13px;">
                                                    @Html.RadioButton("txt", "No", new { @class = "class2" })
                                                    Also on Complaint Register
                                                    <span></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Show declaration portion*</label>

                                            <div class="mt-radio-inline">
                                                <label class="mt-radio mt-radio-outline margin-bottom0" style="font-size:13px;">
                                                    @Html.RadioButton("txt", "Yes", new { @class = "class1", @checked = "checked" })
                                                    Yes
                                                    <span></span>
                                                </label>
                                                <label class="mt-radio mt-radio-outline margin-bottom0" style="font-size:13px;">
                                                    @Html.RadioButton("txt", "No", new { @class = "class2" })
                                                    No
                                                    <span></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Upload attachment*</label>
                                            <div class="mt-radio-inline">
                                                <label class="mt-radio mt-radio-outline margin-bottom0" style="font-size:13px;">
                                                    @Html.RadioButton("txt", "Yes", new { @class = "class1", @checked = "checked" })
                                                    Mandatory
                                                    <span></span>
                                                </label>
                                                <label class="mt-radio mt-radio-outline margin-bottom0" style="font-size:13px;">
                                                    @Html.RadioButton("txt", "No", new { @class = "class2" })
                                                    Optional
                                                    <span></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Turnaround timer*</label>
                                        <div class="mt-radio-inline">
                                            <label class="mt-radio mt-radio-outline margin-bottom0" style="font-size:13px;">
                                                @Html.RadioButton("txt", "Yes", new { @class = "class1", @checked = "checked" })
                                                Yes
                                                <span></span>
                                            </label>
                                            <label class="mt-radio mt-radio-outline margin-bottom0" style="font-size:13px;">
                                                @Html.RadioButton("txt", "No", new { @class = "class2" })
                                                No
                                                <span></span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Web turnaround timer*</label>
                                            @*<div class="mt-checkbox-inline">
                                                    <label class="mt-checkbox mt-checkbox-outline margin-bottom0" style="font-size:13px;">
                                                        @Html.CheckBox("txt", new { @checked = "checked" })
                                                        Mandatory
                                                        <span></span>
                                                    </label>
                                                    <label class="mt-checkbox mt-checkbox-outline margin-bottom0" style="font-size:13px;">
                                                        @Html.CheckBox("txt")
                                                        Optional
                                                        <span></span>
                                                    </label>
                                                </div>*@
                                            <div class="mt-radio-inline">
                                                <label class="mt-radio mt-radio-outline margin-bottom0" style="font-size:13px;">
                                                    @Html.RadioButton("txt", "Yes", new { @class = "class1", @checked = "checked" })
                                                    Mandatory
                                                    <span></span>
                                                </label>
                                                <label class="mt-radio mt-radio-outline margin-bottom0" style="font-size:13px;">
                                                    @Html.RadioButton("txt", "No", new { @class = "class2" })
                                                    Optional
                                                    <span></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Automatic CRT data extract to SFTP*</label>
                                            <div class="mt-radio-inline">
                                                <label class="mt-radio mt-radio-outline margin-bottom0" style="font-size:13px;">
                                                    @Html.RadioButton("txt", "Yes", new { @class = "class1", @checked = "checked" })
                                                    Yes
                                                    <span></span>
                                                </label>
                                                <label class="mt-radio mt-radio-outline margin-bottom0" style="font-size:13px;">
                                                    @Html.RadioButton("txt", "No", new { @class = "class2" })
                                                    No
                                                    <span></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Inactivity alert*</label>
                                            <div class="mt-radio-inline">
                                                <label class="mt-radio mt-radio-outline margin-bottom0" style="font-size:13px;">
                                                    @Html.RadioButton("txt", "Yes", new { @class = "class1", @checked = "checked" })
                                                    Mandatory
                                                    <span></span>
                                                </label>
                                                <label class="mt-radio mt-radio-outline margin-bottom0" style="font-size:13px;">
                                                    @Html.RadioButton("txt", "No", new { @class = "class2" })
                                                    Optional
                                                    <span></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Show assign complaint fields*</label>
                                            <div class="mt-radio-inline">
                                                <label class="mt-radio mt-radio-outline margin-bottom0" style="font-size:13px;">
                                                    @Html.RadioButton("txt", "Yes", new { @class = "class1", @checked = "checked" })
                                                    Yes
                                                    <span></span>
                                                </label>
                                                <label class="mt-radio mt-radio-outline margin-bottom0" style="font-size:13px;">
                                                    @Html.RadioButton("txt", "No", new { @class = "class2" })
                                                    No
                                                    <span></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade modal-scroll bs-modal-lg" id="Labelconfig_popup" tabindex="-1" role="dialog" aria-hidden="true">
    <div id="LabelsConfig">
        @if (Model != null)
        {
            @Html.Partial("~/Views/AdmCrt/_LabelConfiguration.cshtml", Model)
        }
    </div>
</div>
<div class="modal fade modal-scroll bs-modal-lg" id="AddDropselect_popup" tabindex="-1" role="dialog" aria-hidden="true">
    <div id="AddDropSelects">
        @*@Html.Partial("~/Views/AdmCrt/_AddNewDropSelectItem.cshtml")*@
    </div>
</div>


@section scripts{
    <script src="~/assets/global/scripts/datatable.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.js"></script>
    <script src="~/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <script>

        function Addlabels() {
            var value = $("#client_ClientID").val();
            if (value != "" && value != undefined && value != null) {
                $("#labelconfig_ClientID").val(value);
                $("#Labelconfig_popup").modal('show');
            }
            else {
                ShowMessage("Select organisation.", "error");
            }
        }

        function showlabellist() {
            var id = $("#client_ClientID").val();
            if (id != "" && id != undefined && id != null) {
                var postData = JSON.stringify({ ClientID: id });
                ShowLoader();
                $.ajax({
                    type: "POST",
                    url: "/AdmCrt/LabelconfigList",
                    traditional: true,
                    async: true,
                    data: {
                        ClientID: id
                    },
                    success: function (data) {
                        HideLoader();
                        $("#Partialviewbind").html('');
                        $("#Partialviewbind").html(data);
                    }
                });
            }
            else {
                ShowMessage("Select organisation.", "error");
            }
        }


        function closeList() {
            $("#Partialviewbind").html('');
        }
        function closeListdrop() {
            $("#DropSelectsConfig").html('');
        }

        function EditLabelPopup(id) {
            ShowLoader();
            $.ajax({
                type: "POST",
                url: "/AdmCrt/EditLabelConfig",
                traditional: true,
                async: true,
                data: {
                    LabelconfigID: id
                },
                success: function (data) {
                    HideLoader();
                    $("#Labelconfig_popup").modal('show');
                    $("#LabelsConfig").html(data);
                    //".bs-select").selectpicker('refresh');
                    //$("#" + form).data('validator', null);
                    // $.validator.unobtrusive.parse($("#" + form));
                }
            });
        }

        function SaveLabelResponse() {
            $("#Labelconfig_popup").modal('hide');
            showlabellist();
        }

        function ShowDropselect() {
            debugger;
            var id = $("#client_ClientID").val();
            if (id != "" && id != undefined && id != null) {
                var postData = JSON.stringify({ ClientID: id });
                ShowLoader();
                $.ajax({
                    type: "POST",
                    url: "/AdmCrt/DropselectList",
                    traditional: true,
                    async: true,
                    data: {
                        ClientID: id
                    },
                    success: function (data) {
                        HideLoader();
                        $("#DropSelectsConfig").html('');
                        $("#DropSelectsConfig").html(data);
                    }
                });
            }
            else {
                ShowMessage("Select organisation.", "error");
            }
        }

      

        //function ShowDropselect() {
        //    var value = $("#client_ClientID").val();
        //    if (value != "" && value != undefined && value != null) {
        //        $("#_DropselectConfiguration_ClientID").val(value);
        //        $("#DropSelectsConfig").show();
        //    }
        //    else {
        //        ShowMessage("Select organisation.", "error");
        //    }
        //}

        function AddDropselect(category, id) {
            debugger;
            ShowLoader();
            $.ajax({
                type: "POST",
                url: "/AdmCrt/AddDropSelect  ",
                traditional: true,
                async: true,
                data: {
                    Category: category,
                    ClientID: id

                },
                success: function (data) {
                    HideLoader();
                    $("#AddDropselect_popup").modal('show');
                    $("#AddDropSelects").html(data);
                    var table = $('#dt_droptable').DataTable({});
                    //".bs-select").selectpicker('refresh');
                    //$("#" + form).data('validator', null);
                    // $.validator.unobtrusive.parse($("#" + form));
                }
            });
        }

        function clearform(form) {
            $('#' + form + ' input[type=text]').val("");
            $('#' + form + ' .bs-select').val("");
            $('#' + form + ' .bs-select').selectpicker('refresh');
        }

        //function DropselectFormSubmit() {

        //    if ($("#form_instance").valid()) {
        //        // $("#frmComplaint *").removeAttr("disabled");
        //        //Chkclientforwebsubmission();
        //        ShowLoader();
        //        //NotesIndexOrdering();
        //        $("#form_instance").submit();
        //    }

        //}

        function DropselectFormSubmit() {
            debugger;
            var name = $("#dropselectconfig_Name").val();
            var desc = $("#dropselectconfig_Desc").val();
            var category = $("#dropselectconfig_ProjecttermCategoryName").val();
            var refid = $("#dropselectconfig_RefTermID :selected").text();
            var refid1 = $("#dropselectconfig_RefTermID1 :selected").text();


            ShowLoader();
            $.ajax({
                type: "POST",
                url: "/AdmCrt/Savedropselectconfig",
                traditional: true,
                async: true,
                data: {
                    ClientID: $("#dropselectconfig_ClientID").val(),
                    Refid: $("#dropselectconfig_RefTermID").val(),
                    Refid1: $("#dropselectconfig_RefTermID1").val(),
                    name: $("#dropselectconfig_Name").val(),
                    desc: $("#dropselectconfig_Desc").val(),
                    category: $("#dropselectconfig_ProjecttermCategoryName").val()

                },
                success: function (data) {
                    HideLoader();
                    var tr = '<tr>';
                    tr += '<td></td>';
                    if (category != null && category != '' && category != undefined && category == 'PRODUCT TYPE')
                    {
                        tr += '<td><span>' + refid + '</span></td>';
                    }
                    if (category != null && category != '' && category != undefined && category == 'NATURE OF COMPLAINT') {
                        tr += '<td><span>' + refid + '</span></td>';
                    }
                    if (category != null && category != '' && category != undefined && category == 'TCF OUTCOME') {
                        tr += '<td><span>' + refid + '</span></td>';
                        tr += '<td><span>' + refid1 + '</span></td>';
                    }
                    tr += '<td><span>' + name + '</span></td>';
                    //tr += '<td><span>' + desc + '</span></td>';
                    //tr += '<td><a class="action btn  btn-primary btn-xs" href="" title="Edit"><i class="btn-xs fa fa-pencil padding0"></i></a>';
                    //tr += '<a class="action btn  btn-danger btn-xs" href="javascript:void(0);" title="Delete" onclick=""><i class="btn-xs fa fa-trash-o padding0"></i></a>';
                    //tr += '</td>';
                    tr += '</tr>';

                    $("#tbody_dropselect").append(tr);

                }
            });
        }
    </script>
}

