@model Brilliance.Models.ViewModel.CrtAdminViewmodel
@using Brilliance.Infrastructure
@*@Html.Hidden("Applications", Common.SerializeObject(Model))*@

<div class="modal-dialog modal-lg">
    <div class="modal-content" style="width: 1213px;margin-left: -125px;">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h4 class="modal-title">Labels for this organisation</h4>
        </div>
        @*<form id="frmlabelconfig" action="/AdmCrt/Savelabelconfig" method="post" data-ajax="true" data-ajax-method="Post" data-ajax-success="SaveLabelResponse(data);">*@
        <form id="frmlabelconfig" action="/AdmCrt/Savelabelconfig" method="post">
            <div class="modal-body">
                @Html.HiddenFor(m => m.labelconfig.ClientID)
                @Html.HiddenFor(m => m.labelconfig.LabelconfigID)
                @Html.HiddenFor(m => m.labelconfig.IsTemplate)
                @Html.HiddenFor(m => m.labelconfig.IsEdit)
                <input type="hidden" id="istemplate" />

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-5">
                                Add TCF requirement
                            </label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.labelconfig.InstanceName, new { @class = "form-control m-input" })
                                @Html.ValidationMessageFor(m => m.labelconfig.InstanceName)
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-5">
                                My responsibilities / tasks
                            </label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.labelconfig.incidentdate, new { @class = "form-control m-input" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top:12px;">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.HiddenFor(m => m.labelconfig.ClientID)

                            <label class="col-md-5">
                                Guidance
                            </label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.labelconfig.Tier2, new { @class = "form-control m-input" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-5">
                                Rate the extent to which this is in place or in practice
                            </label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.labelconfig.incidentdate, new { @class = "form-control m-input" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top:12px;">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-5">
                                Report
                            </label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.labelconfig.Tier3, new { @class = "form-control m-input" })

                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-5">
                                Due date by when this will be in place or in practice
                            </label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.labelconfig.policystatus, new { @class = "form-control m-input" })

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top:12px;">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-5">
                                ref
                            </label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.labelconfig.Accnumber, new { @class = "form-control m-input" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-5">
                                Who is responsible for getting and/or keeping this in place or in practice?
                            </label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.labelconfig.Tier3, new { @class = "form-control m-input" })

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top:12px;">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-5">
                                Description
                            </label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.labelconfig.Rootcause, new { @class = "form-control m-input" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-5">
                                Why do you say this is fully in place or in practice?
                            </label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.labelconfig.Overalloutcome, new { @class = "form-control m-input" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top:12px;">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-5">
                                Previous rating
                            </label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.labelconfig.Tier3, new { @class = "form-control m-input" })

                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-5">
                                Provide evidence proving this is fully in place or in practice
                            </label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.labelconfig.Producttype, new { @class = "form-control m-input" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top:12px;">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-5">
                                Current due dates
                            </label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.labelconfig.Idnumber, new { @class = "form-control m-input" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-5">
                                Capture…
                            </label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.labelconfig.howcomreceived, new { @class = "form-control m-input" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top:12px;">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-5">
                                See help
                            </label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.labelconfig.contactno, new { @class = "form-control m-input" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-5">
                                More
                            </label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.labelconfig.Compregulatory, new { @class = "form-control m-input" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn default" data-dismiss="modal">Cancel</button>
                @*<button id="btnSaveAreaTask" type="submit" class="btn green">SAVE</button>*@
                <button id="btnSaveAreaTask" type="button" onclick="submitlabels(false);" class="btn green">SAVE</button>
                @*<button id="btnSaveAreaTask" type="button" onclick="Savelabelform(@Common.SerializeObject(Model));" class="btn green">SAVE</button>*@
                <button id="btnSave" type="button" onclick="submitlabels(true);" class="btn green">SAVE AS NEW TEMPLATE</button>
            </div>
        </form>
    </div>
</div>