@model Brilliance.Models.ViewModel.CrtAdminViewmodel
@using Brilliance.Infrastructure


<div class="modal-dialog modal-lg">
    <div class="modal-content" style="width: 1213px;margin-left: -125px;">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h4 class="modal-title">Outcome for this organisation</h4>
        </div>
        <form>
            <div class="row" style="margin-top:12px;">
                <div class="form-group">
                    <div class="col-md-4">
                        @Html.TextBoxFor(m => m.labelconfig.InstanceName, new { @class = "form-control m-input", placeholder = "Outcome" })
                    </div>
                    <div class="col-md-2">
                        @Html.TextBoxFor(m => m.labelconfig.InstanceName, new { @class = "form-control m-input", placeholder = "1" })
                    </div>
                    <div class="col-md-5">
                        @Html.TextBoxFor(m => m.labelconfig.InstanceName, new { @class = "form-control m-input", placeholder = "Customers are confident that TCF is central to our culture" })
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top:12px;">
                <div class="form-group">
                    <div class="col-md-4">
                        @Html.TextBoxFor(m => m.labelconfig.InstanceName, new { @class = "form-control m-input", placeholder = "Outcome" })
                    </div>
                    <div class="col-md-2">
                        @Html.TextBoxFor(m => m.labelconfig.InstanceName, new { @class = "form-control m-input", placeholder = "2" })
                    </div>
                    <div class="col-md-5">
                        @Html.TextBoxFor(m => m.labelconfig.InstanceName, new
                        {
                            @class = "form-control m-input",
                       placeholder = "Products are designed to meet customer needs and marketed to the right customer"
                        })
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top:12px;">
                <div class="form-group">
                    <div class="col-md-4">
                        @Html.TextBoxFor(m => m.labelconfig.InstanceName, new { @class = "form-control m-input", placeholder = "Outcome" })
                    </div>
                    <div class="col-md-2">
                        @Html.TextBoxFor(m => m.labelconfig.InstanceName, new { @class = "form-control m-input", placeholder = "3" })
                    </div>
                    <div class="col-md-5">
                        @Html.TextBoxFor(m => m.labelconfig.InstanceName, new
                        {
                            @class = "form-control m-input",
                       placeholder = "Customers receive clear information that is timely and relevant to them"
                        })
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top:12px;">
                <div class="form-group">
                    <div class="col-md-4">
                        @Html.TextBoxFor(m => m.labelconfig.InstanceName, new { @class = "form-control m-input", placeholder = "Outcome" })
                    </div>
                    <div class="col-md-2">
                        @Html.TextBoxFor(m => m.labelconfig.InstanceName, new { @class = "form-control m-input", placeholder = "4" })
                    </div>
                    <div class="col-md-5">
                        @Html.TextBoxFor(m => m.labelconfig.InstanceName, new
                        {
                            @class = "form-control m-input",
                       placeholder = "Customers receive suitable advice that takes their circumstances into account"
                        })
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top:12px;">
                <div class="form-group">
                    <div class="col-md-4">
                        @Html.TextBoxFor(m => m.labelconfig.InstanceName, new { @class = "form-control m-input", placeholder = "Outcome" })
                    </div>
                    <div class="col-md-2">
                        @Html.TextBoxFor(m => m.labelconfig.InstanceName, new { @class = "form-control m-input", placeholder = "5" })
                    </div>
                    <div class="col-md-5">
                        @Html.TextBoxFor(m => m.labelconfig.InstanceName, new
                        {
                            @class = "form-control m-input",
                       placeholder = "Products and services perform as we have led customers to expect and service is of an acceptable standard"
                        })
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top:12px;">
                <div class="form-group">
                    <div class="col-md-4">
                        @Html.TextBoxFor(m => m.labelconfig.InstanceName, new { @class = "form-control m-input", placeholder = "Outcome" })
                    </div>
                    <div class="col-md-2">
                        @Html.TextBoxFor(m => m.labelconfig.InstanceName, new { @class = "form-control m-input", placeholder = "5a" })
                    </div>
                    <div class="col-md-5">
                        @Html.TextBoxFor(m => m.labelconfig.InstanceName, new
                        {
                            @class = "form-control m-input",
                       placeholder = "Products perform as customers have been led to expect"
                        })
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top:12px;">
                <div class="form-group">
                    <div class="col-md-4">
                        @Html.TextBoxFor(m => m.labelconfig.InstanceName, new { @class = "form-control m-input", placeholder = "Outcome" })
                    </div>
                    <div class="col-md-2">
                        @Html.TextBoxFor(m => m.labelconfig.InstanceName, new { @class = "form-control m-input", placeholder = "5b" })
                    </div>
                    <div class="col-md-5">
                        @Html.TextBoxFor(m => m.labelconfig.InstanceName, new
                        {
                            @class = "form-control m-input",
                       placeholder = "Service is of an acceptable standard as customers have been led to expect"
                        })
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top:12px;">
                <div class="form-group">
                    <div class="col-md-4">
                        @Html.TextBoxFor(m => m.labelconfig.InstanceName, new { @class = "form-control m-input", placeholder = "Outcome" })
                    </div>
                    <div class="col-md-2">
                        @Html.TextBoxFor(m => m.labelconfig.InstanceName, new { @class = "form-control m-input", placeholder = "6" })
                    </div>
                    <div class="col-md-5">
                        @Html.TextBoxFor(m => m.labelconfig.InstanceName, new
                        {
                            @class = "form-control m-input",
                       placeholder = "No unreasonable barriers for customers to change or switch products, access funds, claim or complain"
                        })
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top:12px;">
                <div class="form-group">
                    <div class="col-md-4">
                        @Html.TextBoxFor(m => m.labelconfig.InstanceName, new { @class = "form-control m-input", placeholder = "Outcome" })
                    </div>
                    <div class="col-md-2">
                        @Html.TextBoxFor(m => m.labelconfig.InstanceName, new { @class = "form-control m-input", placeholder = "6a" })
                    </div>
                    <div class="col-md-5">
                        @Html.TextBoxFor(m => m.labelconfig.InstanceName, new
                        {
                            @class = "form-control m-input",
                       placeholder = "Product accessibility"
                        })
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top:12px;">
                <div class="form-group">
                    <div class="col-md-4">
                        @Html.TextBoxFor(m => m.labelconfig.InstanceName, new { @class = "form-control m-input", placeholder = "Outcome" })
                    </div>
                    <div class="col-md-2">
                        @Html.TextBoxFor(m => m.labelconfig.InstanceName, new { @class = "form-control m-input", placeholder = "6b" })
                    </div>
                    <div class="col-md-5">
                        @Html.TextBoxFor(m => m.labelconfig.InstanceName, new
                        {
                            @class = "form-control m-input",
                       placeholder = "Complaints handling"
                        })
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top:12px;">
                <div class="form-group">
                    <div class="col-md-4">
                        @Html.TextBoxFor(m => m.labelconfig.InstanceName, new { @class = "form-control m-input", placeholder = "Outcome" })
                    </div>
                    <div class="col-md-2">
                        @Html.TextBoxFor(m => m.labelconfig.InstanceName, new { @class = "form-control m-input", placeholder = "6c" })
                    </div>
                    <div class="col-md-5">
                        @Html.TextBoxFor(m => m.labelconfig.InstanceName, new
                        {
                            @class = "form-control m-input",
                       placeholder = "Disbursement handling or claims handling"
                        })
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn default" data-dismiss="modal">Cancel</button>
                @*<button id="btnSaveAreaTask" type="submit" class="btn green">SAVE</button>*@
                <button id="btnSaveAreaTask" type="button" onclick="submitlabels(false);" class="btn green">SAVE</button>
                @*<button id="btnSaveAreaTask" type="button" onclick="Savelabelform(@Common.SerializeObject(Model));" class="btn green">SAVE</button>*@
                <button id="btnSave" type="button" onclick="submitlabels(true);" class="btn green">SAVE AS NEW TEMPLATE</button>
            </div>
        </form>
    </div>
</div>