@model Brilliance.Models.Entity.TCFForm
@using Brilliance.Infrastructure.DataProvider;
@{
   
    ConductDataprovider _icisDataProvider = new ConductDataprovider();
}




<table class="table table-bordered table-condensed main-multi-field-wrapper">
   
    <tbody class="sub-multi-fields">

        @if (Model.TCFOutCome != null)
        {
            foreach (var item in Model.TCFOutCome.TCFSubOutCome.TCFTask)
            {
                var index = Model.TCFOutCome.TCFSubOutCome.TCFTask.IndexOf(item);
                <tr class="multi-field" id="@index">
                    <td width="1%">@(index + 1)</td>

                    <td width="40%">
                        @Html.DropDownListFor(x => x.TCFOutCome.TCFSubOutCome.TCFTask[index].AssignUserId, _icisDataProvider.BindOutcomeRating(), "...", new { @class = "form-control", @style = "width:100%;" })



                    </td>
                    <td width="58%">
                        @Html.TextBoxFor(x => x.TCFOutCome.TCFSubOutCome.TCFTask[index].Task, new { @class = "form-control", @placeholder = "Assign Task to user..." })
                        <br />

                        @Html.DropDownListFor(x => x.TCFOutCome.TCFSubOutCome.TCFTask[index].AssignUserId, _icisDataProvider.BindUsers(), "...", new { @class = "form-control", @style = "width:100%;", @required = "required" })


                    </td>
                    <td width="1%">
                        <button type="button" class="remove-task btn btn-xs btn-danger"><i class="fa fa-remove"></i></button>
                    </td>
                </tr>

            }

        }


        else
        {
            <tr class="multi-field" id="1">
                <td width="1%">1</td>
                <td width="78%">

                    <textarea name="TCFOutCome.TCFSubOutCome.TCFTask[0].Task" id="TCFOutCome.TCFSubOutCome.TCFTask[0].Task" class="form-control" required placeholder="Assign Task to user..."></textarea>
                    <br />
           <span style="font-family:'Times New Roman'; font-weight:bold;">Task </span> <span> Owner who will do the task</span>
            @Html.DropDownListFor(x => x.TCFOutCome.TCFSubOutCome.TCFTask[0].AssignUserId, _icisDataProvider.BindUsers(), "...", new { @class = "form-control", @style = "width:100%;", @required = "required" })


            </td>
<td width="15%">
                    <label style="display: block;font-family:'Times New Roman', Times, serif;font-weight:bold;"><input name="TCFOutCome.TCFSubOutCome.TCFTask[0].Status" type="radio"  value="A">Assigned</label>
                    <label style="display: block;font-family:'Times New Roman', Times, serif;font-weight:bold;"><input name="TCFOutCome.TCFSubOutCome.TCFTask[0].Status" type="radio"  value="B">In progress</label>
                    <label style="display: block;font-family:'Times New Roman', Times, serif;font-weight:bold;"><input name="TCFOutCome.TCFSubOutCome.TCFTask[0].Status" type="radio"  value="C">Completed</label>
                </td>
                <td width="1%">
                    <button type="button" class="remove-task btn btn-xs btn-danger"><i class="fa fa-remove"></i></button>
                </td>

                
            </tr>
           
        }


    </tbody>
    <tbody>

        <tr>
            <th colspan="14">
                <button type="button" style="display:none;" class="add-task btn btn-xs btn-primary"><i class="fa fa-plus"></i>&nbsp;Add Row</button>
            </th>
        </tr>
    </tbody>
</table>




